* {
  font-family: "Poppins", sans-serif;
}

html {
  min-width: fit-content;
  min-height: fit-content;
}

h1 {
  font-size: 53px;
}

/* login section */
.loginBody {
  background: url(../images/pic1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-logIn {
  width: 360px;
  height: 360px;
  margin: 8% auto;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.8);
  position: relative;
  overflow: hidden;
  text-align: center;
}

.logheader {
  text-align: center;
  margin-bottom: 40px;
  color: #777;
}

.container-logIn form {
  width: 280px;
  position: absolute;
  top: 100px;
  left: 40px;
  transition: 0.5s;
}

form input {
  width: 100%;
  padding: 10px 5px;
  text-align: center;
  margin: 5px 0 10px;
  border: 0;
  border: 1px solid #999;
  border-radius: 25px;
  outline: none;
  background: transparent;
}
::placeholder {
  text-align: center;
  color: #777;
}

.btn-box {
  width: 100%;
  margin: 30px;
  text-align: center;
}

form button {
  width: 110px;
  height: 35px;
  margin-right: 50px;
  background: linear-gradient(to right, #043c84, #87cefa);
  border-radius: 30px;
  border: 0;
  outline: none;
  color: #fff;
  cursor: pointer;
}

.step-row {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  box-shadow: 0 -1px 5px -1px #000;
  position: relative;
  background: linear-gradient(to right, #043c84, #87cefa);
}

.step-col {
  width: 100%;
  text-align: center;
  position: relative;
}

.step-col h3 {
  color: whitesmoke;
}

/*Main Page Section*/

.sectionImg {
  border: 1px solid #043c84;
  border-radius: 5px;
  margin: 8% 0 8% 3%;
}

#mySidebar {
  display: none;
}
a {
  text-decoration: none;
}

.logo {
  display: flex;
  width: 13%;
  float: right;
  margin-top: 8px;
}

#newsName,
.weatherName,
#cityName,
.daily-tasks {
  margin-top: 2%;
  margin-left: 2%;
  font-size: 30px;
}
.barColor,
h3,
nav,
footer {
  color: #043c84;
}

/*Quotes Section*/

.quote-wrapper {
  font-family: "Poppins", sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.9rem;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: cornsilk;
  margin: 0;
}

.quote-wrapper h2 {
  color: #043c84;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-decoration: underline;
}

.quote-wrapper small {
  font-size: 700;
  padding: 1.9rem 1rem;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
  font-variant: small-caps;
  visibility: hidden;
}

.quote-wrapper blockquote {
  padding: 1.5rem 0;
  font-weight: 300;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.quote-wrapper cite {
  display: block;
  font-style: italic;
  margin-bottom: 1rem;
}

.w3-border {
  border: 1px solid #043c84 !important;
  outline: none;
}

#gen-quote-btn {
  font-size: 0.8rem;
  padding: 0.3rem 1rem;
  cursor: pointer;
  border-radius: 1.2rem;
  background-color: #ffffff;
  border-color: #043c84;
}

#gen-quote-btn:hover {
  box-shadow: 1px 1px 1px 1px lightblue;
}

/*News part*/

.news-section {
  display: none;
}

.newsText {
  margin-top: 3%;
  color: #043c84;
  font-size: 30px;
  text-align: center;
}

#currentSearch {
  margin: 5% 5% 2% 5%;
  max-width: 70%;
}

.button {
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 2%;
}

.is-loading {
  display: none;
}

.loginText {
  margin-top: 3%;
  color: #043c84;
  font-weight: bold;
  cursor: pointer;
}

.loginText,
.description {
  margin: 3% 2% 3% 2%;
}

.firstArticleText {
  text-align: center;
  color: #043c84;
  font-size: 40px;
}

#description {
  margin-left: 2%;
}

.headerName {
  color: #043c84;
  display: flex;
  float: left;
}
.header {
  flex-direction: row-reverse;
  background: rgb(165, 165, 165);
}
#results {
  text-align: center;
}

/* Daily Tasks Section*/

.dateTime,
p {
  margin-left: 2%;
  margin-top: 5%;
}

#header {
  padding: 20px;
  color: #000822;
  font-size: 26px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
}
#header button {
  background-color: #000822;
  color: rgb(255, 255, 255);
}
#container {
  width: 770px;
  margin-left: auto;
  margin-right: auto;
}
#weekdays {
  width: 100%;
  display: flex;
  color: #001d29;
}
#weekdays div {
  width: 140px;
  padding: 10px;
}
#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.day {
  width: 100px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  margin: 5px;
  box-shadow: 0px 0px 3px #afafafe7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.day:hover {
  background-color: #e2f6fa;
}

.day + #currentDay {
  background-color: #cedfff;
}
.event {
  font-size: 10px;
  padding: 3px;
  background-color: #02008d;
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}
.padding {
  cursor: default !important;
  background-color: #f3f3f3 !important;
  box-shadow: none !important;
}
#DailyEvents,
#deleteEventModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: #c5e5f5ef;
  box-shadow: 0px 0px 3px rgb(255, 255, 255);
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}
#taskInput {
  padding: 10px;
  width: 60%;
  height: 20%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px rgb(0, 0, 0);
}

#taskInputTwo {
  padding: 10px;
  width: 60%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px rgb(0, 0, 0);
}
#taskInputThree {
  padding: 10px;
  width: 60%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px rgb(0, 0, 0);
}

#taskInput.error {
  border: 2px solid rgb(197, 0, 0);
}
#cancelButton,
#closeButton {
  background-color: #70fd2e;
  font-size: 12px;
  color: white;
}
#saveButton,
#deleteButton {
  background-color: #c03636;
  font-size: 12px;
}

#backButton {
  float: right;
  margin: 0px;
  margin-bottom: -40px;
}

#nextButton {
  float: left;
  margin: auto 23px;
}
#eventText {
  font-size: 14px;
}
#modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
}

/*Weather Section*/

.btnSearchSection {
  margin-left: 2%;
}
.weatherName {
  cursor: pointer;
}

.weatherLogo {
  display: flex;
  width: 5%;
  float: right;
  margin-top: 8px;
}

.mainSectionWeather {
  margin-right: 150px;
}

.intro {
  background: #87cefa;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider {
  background: #2e739e;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.intro-text {
  color: rgb(233, 233, 233);
  font-size: 2rem;
  margin-left: 15px;
}

.hide {
  background: #87cefa;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}

#search-city {
  margin-top: 0;
  width: 200px;
}
#search-button {
  margin-top: 0;
}

.card {
  margin-left: 10px;
  background: #043c84;
  color: white;
}

.forecast {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.card {
  margin-bottom: 25px;
  width: 100%;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* make this the same (in negative value) on the container above the footer */
  height: 25px;
}

/* Media Section */

@media (min-width: 1200px) {
  .mobileFriendly {
    display: flex;
    justify-content: space-between;
  }

  .squares {
    margin-left: 25px;
    margin-right: 25px;
  }
  .w3-cell-row {
    display: flex;
  }

  .sectionImg {
    display: none;
  }

  #cityName,
  #description {
    margin-left: 0;
  }

  /*News Section*/
  #newsName {
    margin-left: 0;
    text-align: center;
    font-size: 30px;
    margin-left: -10%;
  }

  .newsText {
    text-align: center;
  }

  #currentSearch {
    margin: 5% 5% 2% 5%;
    max-width: 70%;
  }

  .button {
    margin-left: 0%;
  }

  /*Daily Tasks Section*/
  .daily-tasks {
    margin-left: 15%;
  }

  .dateTime,
  p {
    margin-left: 0%;
    margin-bottom: 5%;
  }

  /*Weather Section*/
  .weatherName {
    margin-left: 7%;
  }

  .forecast {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }

  .card {
    width: 100%;
    margin-bottom: 25px;
  }

  .btnSearchSection {
    margin-left: 25%;
  }

  #search-city {
    margin-left: -66%;
  }

  #current-weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mainSectionWeather {
    text-align: center;
    font-size: 15px;
  }
  .subWeather {
    font-size: 13px;
  }
}
