*{
    font-family: 'Poppins', sans-serif;
}

#logIngBody{
  background-image: url(../images/pic1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


html{
  min-width: fit-content;
  min-height: fit-content;
}

h1 {
  font-size: 53px;
}


.sectionImg{
    border: 1px solid #043C84 ;
    border-radius: 5px ;
    margin: 8% 0 8% 3%;
}

#mySidebar {
    display: none;
}
a {
    text-decoration: none;
}
.logo {
    display: flex;
    width: 13%;
   float: right;
   margin-top: 8px;
}

.map{
  width: 100%;
}

.weahterLogo{
  display: flex;
  width: 5%;
 float: right;
 margin-top: 8px;

}
#description {
  margin-left: 2%;
}

.forecast{
  display: flex;
}

.headerName{
    color:#043C84;
    display: flex;
    float: left;
}
.header {
    flex-direction: row-reverse;
    background: rgb(165, 165, 165);
}
.barColor, h3, nav, footer  {
    color: #043C84;
}
/*Anastasia's part start*/

#newsName, #cityName, .daily-tasks {
  margin-top: 2%;
  margin-left: 2%;
  font-size: 30px;
}


.news-section {
    display: none;
}

.newsText {
  margin-top: 3%;
  color: #043C84;
  font-size: 30px;
}

input {
  margin-top: 5%;
}

.button {
    margin: 5% 1% 5% 0;
}

.is-loading{
    display: none;
}

.loginText {
  margin-top: 3%;
  color: #043C84;
  font-weight: bold;
  cursor: pointer;
}

.loginText, .description {
  margin: 3% 2% 3% 2%;
  
}

.firstArticleText {
  text-align: center;
  color: #043C84;
  font-size: 40px;
}

/* .newsText1 {
  text-align: center;
  margin-top: 5%;
  color:#043C84;
  font-size: 40px;
}  */

/*Anastasia's part end*/
.container-mobile-screen{
  min-height: 100%;
  /* This is the same as the height of your footer */
  margin-bottom: -25px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* make this the same (in negative value) on the container above the footer */
    height: 25px;
}
/*mobile version*/
.quote-wrapper{
  font-family: 'Poppins', sans-serif;
 justify-content: center;
 align-items: center;
 text-align: center;
 font-size: 0.9rem;
 background-color:rgb(255, 255, 255);
 border-radius: 5px;
 box-shadow: cornsilk;
}

.quote-wrapper h2{
  color: #043C84;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-decoration: underline;
}

.quote-wrapper small{
  font-size: 700;
  padding: 1.9rem 1rem;
  margin-bottom: 2.0rem;
  margin-top: 1.5rem;
  font-variant: small-caps;
  visibility: hidden;
}

.quote-wrapper blockquote{
  padding: 1.5rem 0;
  font-weight: 300;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
} 

.quote-wrapper cite{
  display: block;
  font-style: italic;
  margin-bottom: 1rem;
}

.w3-border {
  border: 1px solid #043C84!important;
  outline: none;
}

#gen-quote-btn{
  font-size: 0.8rem;
  padding: 0.3rem 1.0rem;
  cursor: pointer;
  border-radius: 1.2rem;
  background-color: #ffffff;
  border-color: #043C84;
  
}

#gen-quote-btn:hover{
  box-shadow: 1px 1px 1px 1px lightblue;
}
/*dsk version*/
.dsk-quote-wrapper{
  font-family: 'Poppins', sans-serif;
 justify-content: center;
 align-items: center;
 text-align: center;
 font-size: 0.9rem;
 background-color:rgb(255, 255, 255);
 border-radius: 5px;
 box-shadow: cornsilk;
}

.dsk-quote-wrapper h2{
  color: #043C84;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-decoration: underline;
}

.dsk-quote-wrapper small{
  font-size: 700;
  padding: 1.9rem 1rem;
  margin-bottom: 2.0rem;
  margin-top: 1.5rem;
  font-variant: small-caps;
  visibility: hidden;
}

.dsk-quote-wrapper blockquote{
  padding: 1.5rem 0;
  font-weight: 300;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
} 

.dsk-quote-wrapper cite{
  display: block;
  font-style: italic;
  margin-bottom: 1rem;
}

.w3-border {
  border: 1px solid #043C84!important;
  outline: none;
}

#dsk-gen-quote-btn{
  font-size: 0.8rem;
  padding: 0.3rem 1.0rem;
  cursor: pointer;
  border-radius: 1.2rem;
  background-color: #ffffff;
  border-color: #043C84;
  
}

#dsk-gen-quote-btn:hover{
  box-shadow: 1px 1px 1px 1px lightblue;
}

.loginbox{
  width: 300px;
  padding: 30ox;
  position:absolute;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%,-50% );
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 5px 10px 8px #0f0f0f;
  text-align: center; 
}

.loginbox h1{
  color: whitesmoke;
  text-transform: uppercase;
  font-weight: 700;
}

.loginbox input[type="text"], .loginbox input[type="password"], .loginbox input[type="file"], .loginbox input[type="text"]
{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 3px solid #87cefa;
  padding: 14px 10px;
  width: 220px;
  outline: none;
  color: whitesmoke;
  border-radius: 24px ;
 transition: 0.25px;

}

.loginbox input[type="text"]:focus, .loginbox input[type="password"]:focus{
  width: 270px  ;
  border-color: #2e739e ;
}

.loginbox input[type="submit"]{

 border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 3px solid #2e739e;
  padding: 14px 35px; 
  outline: none;
  color: whitesmoke;
  border-radius: 24px ;
 transition: 0.25px;
 cursor: pointer;
}

.loginbox input[type="submit"]:hover{
  background: #87cefa;
}

.intro {
 background: #87cefa;
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}
.slider {
 background: #2e739e;
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 transform: translateY(100%);
}

.intro-text {
 color: rgb(233, 233, 233);
 font-size: 2rem;
 margin-left: 15px;
}

.hide {
 background: #87cefa;
 overflow: hidden;
}

.hide span {
 transform: translateY(100%);
 display: inline-block;
}
.forecast{
  display: flex;
  flex-direction: column;
}

#search-city {
  margin-top: 0;
  width: 200px;
}
#search-button{
  margin-top: 0;
}

.card{
  margin-left: 10px;
  background: #043C84;
  color: white;
}

/* login section */
 .loginBody{
  background: url(../images/pic1.jpg);
    background-position: center;
    background-size: cover ;
    background-repeat: no-repeat;


}
.container {
  width: 360px;
  height: 400px;
  margin: 8% auto;
  background: #fff;
  position: relative;
  overflow: hidden;
}

.logheader{
  text-align: center;
  margin-bottom: 40px;
  color: #777;
}

.container form{
  width: 280px;
  position: absolute;
  top: 100px;
  left: 40px;
  transition: 0.5s;
}

form input {
  width: 100%;
  padding: 10px 5px;
  margin: 5px 0 ;
  border: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}
::placeholder{
  color: #777;
}

.btn-box{
  width: 100%;
  margin: 30px;
  text-align: center;

}

form button {
  width: 110px;
  height: 35px;
  margin: 0 10px;
  background: linear-gradient(to right, #043c84, #87cefa);
  border-radius: 30px;
  border: 0;
  outline: none;
  color: #fff;
  cursor: pointer;
}

#form2{
  left: 450px;
}

#form3{
  left: 450px;
}

.step-row{
  width: 360px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  box-shadow: 0 -1px 5px -1px #000;
  position: relative;
}

.step-col {
  width: 120px;
  text-align: center;
  color: #333;    
  position: relative;
}

#progress{
  position: absolute;
  height: 100%;
  width: 120px;
  background: linear-gradient(to right, #043c84, #87cefa);
  transition: 1s; 
}



#progress::after{
  content: '';
  height: 0;
  width: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  position: absolute;
  right: -20px;
  top: 0;
  border-left: 20px solid #87cefa;


} 


/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 100%;
      }
      
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      

/* Media section */

/********** Large devices only **********/
/* @media (min-width: 1200px) {
  .container-mobile-screen{ */
    /* display: none; */
  /* }
  .logo {
     width: 10%;
  }

  .description {
    margin-left: 15%;
    margin-right: 15%;
  }

 
} */

/********** Medium devices only **********/
/* @media (min-width: 992px) and (max-width: 1199px) {
  .container-mobile-screen{
    display: none;
  }
} */

/********** Small devices only **********/
/* @media (min-width: 768px) and (max-width: 991px) {
  .container-desktop-screen{
    display: none;
  }
  
 
} */

/********** Extra small devices only **********/
/* @media (max-width: 767px) { */
  /* .container-desktop-screen{
    display: none;
  }

} */
/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
/* @media (max-width: 479px) {
  .container-desktop-screen{
    display: none;
  }
} */