*{
    font-family: 'Poppins', sans-serif;
}

html{
  min-width: fit-content;
  min-height: fit-content;
}

h1 {
  font-size: 53px;
}

.sectionImg{
    border: 1px solid #043C84 ;
    border-radius: 5px ;
    margin: 8% 0 8% 3%;
}

#mySidebar {
    display: none;
}
a {
    text-decoration: none;
}
.logo {
    display: flex;
    width: 13%;
   float: right;
   margin-top: 8px;
}

.headerName{
    color:#043C84;
    display: flex;
    float: left;
}
.header {
    flex-direction: row-reverse;
    background: rgb(165, 165, 165);
}
.barColor, h3, nav, footer  {
    color: #043C84;
}
/*Anastasia's part start*/

#newsName, #cityName, .daily-tasks {
  margin-top: 2%;
  font-size: 30px;
}


.news-section {
    display: none;
}

.newsText {
  margin-top: 3%;
}

input {
  margin-top: 5%;
}

.button {
    margin: 5% 1% 5% 0;
}

.is-loading{
    display: none;
}

.loginText {
  margin-top: 3%;
  color: #043C84;
  font-weight: bold;
}

.description {
  margin-bottom: 3%;
}

.firstArticleText {
  text-align: center;
  color: #043C84;
  font-size: 40px;
}


/*Anastasia's part end*/

.footer{
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    
}

.quote-wrapper{
  font-family: 'Poppins', sans-serif;
 justify-content: center;
 align-items: center;
 text-align: center;
 font-size: 0.9rem;
 background-color:rgb(255, 255, 255);
 border-radius: 5px;
 box-shadow: cornsilk;
}

.quote-wrapper h2{
  color: #043C84;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-decoration: underline;
}

.quote-wrapper small{
  font-size: 700;
  padding: 1.9rem 1rem;
  margin-bottom: 2.0rem;
  margin-top: 1.5rem;
  font-variant: small-caps;
}

.quote-wrapper blockquote{
  padding: 1.5rem 0;
  font-weight: 300;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
} 

.quote-wrapper cite{
  display: block;
  font-style: italic;
  margin-bottom: 1rem;
}

#gen-quote-btn{
  font-size: 0.8rem;
  padding: 0.3rem 1.0rem;
  cursor: pointer;
  border-radius: 1.2rem;
  background-color: rgb(255, 255, 255);
  
}

#gen-quote-btn:hover{
  box-shadow: 1px 1px 1px 1px lightblue;
}

.box{
  width: 300px;
  padding: 30ox;
  position:absolute;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%,-50% );
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 5px 10px 8px #0f0f0f;
  text-align: center; 
}

.box h1{
  color: whitesmoke;
  text-transform: uppercase;
  font-weight: 700;
}

.box input[type="text"], .box input[type="password"], .box input[type="file"]
{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 3px solid #87cefa;
  padding: 14px 10px;
  width: 220px;
  outline: none;
  color: whitesmoke;
  border-radius: 24px ;
 transition: 0.25px;

}

.box input[type="text"]:focus, .box input[type="password"]:focus{
  width: 270px  ;
  border-color: #2e739e ;
}

.box input[type="submit"]{

 border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 3px solid #2e739e;
  padding: 14px 35px; 
  outline: none;
  color: whitesmoke;
  border-radius: 24px ;
 transition: 0.25px;
 cursor: pointer;
}

.box input[type="submit"]:hover{
  background: #87cefa;
}

.intro {
 background: #87cefa;
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}
.slider {
 background: #2e739e;
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 transform: translateY(100%);
}

.intro-text {
 color: rgb(233, 233, 233);
 font-size: 2rem;
 margin-left: 15px;
}

.hide {
 background: #87cefa;
 overflow: hidden;
}

.hide span {
 transform: translateY(100%);
 display: inline-block;
} 
