*{
    font-family: 'Poppins', sans-serif;
}

html{
    min-width: fit-content;
  min-height: fit-content;
}

.sectionImg{
    border: 1px solid #043C84 ;
    border-radius: 5px ;
    margin: 6px 0px 6px 4px;
}

#mySidebar {
    display: none;
}
a {
    text-decoration: none;
}
.logo {
    display: flex;
    width: 13%;
   float: right;
   margin-top: 8px;
}

.headerName{
    color:#043C84;
    display: flex;
    float: left;
}
.header {
    flex-direction: row-reverse;
    background: rgb(165, 165, 165);
}
.barColor, h3, nav, footer  {
    color: #043C84;
}
/*Anastasia's part start*/

.news-section {
    display: none;
    width: fit-content;
}

input {
  margin-top: 5%;
}

.button {
    margin: 5% 1% 5% 0;
}

.is-loading{
    display: none;
}


/*Anastasia's part end*/

.footer{
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
}

.quote-wrapper{
 justify-content: center;
 align-items: center;
 text-align: center;
 font-size: 0.9rem;
 background-color:rgb(255, 255, 255);
 border-radius: 5px;
 box-shadow: cornsilk;
}

.quote-wrapper h2{
  font-size: 1.5rem;
  margin-bottom: 0.5 rem;
}

.quote-wrapper small{
  font-size: 700;
  padding: 0.9rem 1rem;
  margin-bottom: 2.0rem;
}

.quote-wrapper blockquote{
  padding: 1.5rem 0;
  font-weight: 300;
  margin-top: 1.0rem;
  margin-bottom: 1.0rem;
} 

.quote-wrapper cite{
  display: block;
  font-style: italic;
  margin-bottom: 1rem;
}

#gen-quote-btn{
  font-size: 0.8rem;
  border:black;
  padding: 0.3rem 1.0rem;
  cursor: pointer;
  border-radius: 1.2rem;
  background-color: rgb(255, 255, 255);
  
}

#gen-quote-btn:hover{
  box-shadow: 1px 1px 1px 1px lightblue;
}
