*{
    font-family: 'Poppins', sans-serif;
}

html{
    min-width: fit-content;
  min-height: fit-content;
}

.sectionImg{
    border: 1px solid #043C84 ;
    border-radius: 5px ;
    margin: 6px 0px 6px 4px;
}

#mySidebar {
    display: none;
}
a {
    text-decoration: none;
}
.logo {
    display: flex;
    width: 13%;
   float: right;
   margin-top: 8px;
}

.headerName{
    color:#043C84;
    display: flex;
    float: left;
}
.header {
    flex-direction: row-reverse;
    background: rgb(165, 165, 165);
}
.barColor, h3, nav  {
    color: #043C84;
}
/*Anastasia's part start*/

.news-section {
    display: none;
}
.loader {
    display: none;
}

.btn {
    margin-right: 10%;
}

/*Anastasia's part end*/

.footer{
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
}